<main class='row'>
  <div class='col-md-12'>
    <nav>
    </nav>

    <header class='header'>
      <h1><%= t('views.job_seeker_dashboard.title') %></h1>

      <p><%= t('views.job_seeker_dashboard.greeting') %></p>
    </header>

    <section class='contents'>

    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
