<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
    </nav>

    <header class='header'>
      <h1><%= t('views.head_hunter_dashboard.title') %></h1>

      <p><%= t('views.head_hunter_dashboard.greeting') %></p>
    </header>

    <section class='contents'>

    </section>

    <div class='actions mt-4'>
    </div>
  </div>
</main>
