<% provide(:resource_path, seeker_profiles_path) %>
<% provide(:method, :post) %>

<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), :back, class: 'btn btn-outline-secondary' %>
    </nav>

    <header class='header'>
      <h1><%= t('views.profile.create') %></h1>

      <p><%= t('views.job_seekers/profiles.context') %></p>
    </header>

    <section class='contents'>
      <%= render 'form' %>
    </section>

  </div>
</main>
