<% provide(:resource_path, head_hunters_job_application_offers_path(@job, @application)) %>

<main class='row'>
  <div class='col-md-12'>
    <nav>
      <%= link_to t('views.navigation.go_back'), head_hunters_job_application_path(@job, @application),
            class: 'btn btn-secondary' %>
    </nav>

    <header class='header'>
      <h1> <%= t 'views.head_hunters.offers.title' %> </h1>

      <p> <%=  t 'views.head_hunters.offers.description' %> </p>
    </header>

    <section class='contents'>
      <%= render 'form' %>
    </section>

  </div>
</main>
