<%= form_with url: head_hunters_job_application_standout_path(@job, application),
              html: { method: :patch }, local: true, class: 'standout_form' do |f| %>
  <%= f.label :standout, t('activerecord.attributes.job/application.standout'), class: 'sr-only' %>

  <button type="submit">
    <i class="fas fa-thumbtack <%= application.standout? ? 'active_standout' : 'inactive_standout' %>"></i>
  </button>
<% end %>
