<% provide(:resource_path, head_hunters_jobs_path) %>

<main class='row'>
  <div class='col-md-12'>
    <nav>
      <%= link_to t('views.navigation.go_back'), head_hunters_jobs_path, class: 'btn btn-secondary' %>
    </nav>

    <header class='header'>
      <h1><%= t('views.jobs.create') %></h1>
    </header>

    <section class='contents'>
      <%= render 'form' %>
    </section>

  </div>
</main>
