footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray;

  display: flex;
  justify-content: space-between;

  a {
    color: $pallette-independence;

    &:hover {
      color: $pallette-light-independence;
    }
  }
}
