@mixin nav_link {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: $pallette-independence;

  &:hover {
    color: $pallette-light-independence;
    text-decoration: none;
  }
}

.main_headbar {
  display: flex;
  align-items: center;
  justify-content: space-evenly;

  padding: 15px;
  margin-bottom: 30px;
  background-color: $pallette-light-cyan;
}

.headbar_right {
  display: flex;
  align-items: center;
}

.nav_item {
  @include nav_link;

  margin-right: 10px;
  margin-left: 15px;
  border-left: 1px solid $pallette-cyan;

  &:first-child {
    margin-right: 0;
    border-left: none;
  }
}

.nav_dropdown_item {
  @include nav_link;
}

.headbar_avatar {
  margin-left: 10px;

  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $pallette-royal-blue;
}
