.empty_resource {
  padding: 5px;
  border-radius: 10px;
  background-color: $simple-background;
  color: $pallette-rhythm;

  font-weight: 500;
  font-size: 1.3em;
  text-align: center;

}

.inline_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index_table {
  border-radius: 10px;
  background-color: $simple-background;
}

.index_table_head {
  border-bottom: 1px solid #ddd;
}

.index_table_row {
  th,
  td {
    padding: 5px 0 5px 10px;
    border-left: 1px solid #ddd;
  }

  th:first-child,
  td:first-child {
    border: none;
  }
}
