.empty_resource {
  padding: 5px;
  border-radius: 10px;
  background-color: $simple-background;
  color: $pallette-rhythm;

  font-weight: 500;
  font-size: 1.3em;
  text-align: center;
}

.inline_filter {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.index_table {
  border-radius: 10px;
  background-color: $simple-background;
}

.index_table_head {
  border-bottom: 1px solid #ddd;
}

.index_table_row {
  th,
  td {
    padding: 5px 0 5px 10px;
    border-left: 1px solid #ddd;
  }

  th:first-child,
  td:first-child {
    border: none;
  }
}

.status_dot {
  margin-right: 5px;
  display: inline-block;

  height: 10px;
  width: 10px;
  border-radius: 50%;
}

.large_status_dot {
  margin-left: 5px;
  border-radius: 50%;

  height: 20px;
  width: 20px;
  display: inline-block;
}

.active_dot {
  background-color: $mint-green;
}

.inactive_dot {
  background-color: $gray;
}

.one_line_overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}
