.side_info_box {
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;

  background-color: $simple-background;
}

.job_status {
  border-radius: 5px;
  padding: 5px 0;
  text-align: center;

  letter-spacing: 1px;
  font-size: 1.1em;
}

.active_job {
  background-color: $mint-green;
  color: $mint-green-dark;
}

.inactive_job {
  background-color: $simple-background;
  color: $gray;
}
