.applicant_title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.side_info_box {
  padding: 15px;
  margin-right: 10px;
  border-radius: 5px;

  background-color: $simple-background;
}

.job_status {
  margin-bottom: 10px;

  border-radius: 5px;
  padding: 5px 0;
  text-align: center;

  font-weight: 600;
  font-size: 1.2em;
}

.active_job {
  background-color: $mint-green;
  color: $mint-green-dark;
}

.inactive_job {
  background-color: $simple-background;
  color: $gray;
}

.profile_avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;

  width: 150px;
  height: 150px;
  border-radius: 50%;
  border: 3px solid $pallette-rhythm;
}

.profile_group {
  display: flex;
  justify-content: space-between;

  margin-bottom: 10px;
  padding: 15px;
  border-radius: 5px;

  background-color: $pallette-light-royal-blue;
}

.application_container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.applicant_container {
  display: flex;
  align-items: center;
}

.application_link {
  font-weight: 500;
  letter-spacing: 1px;
  font-size: 1.1em;
  color: $pallette-royal-blue;

  &:hover {
    color: $pallette-light-royal-blue;
    text-decoration: none;
  }
}
