@import "~bootstrap/scss/bootstrap.scss";
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;500;600;700&display=swap");

/* mixins, variables, etc. */

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

$gray-darkest: #707070;
$gray-darker: #808080;
$gray: #a0a0a0;
$gray-medium-light: #cacaca;
$gray-light: #d1d1d1;
$gray-ultra-light: #dbdbdb;
$simple-background: #f5f6f7;

$pallette-black-coffee: #32292fff;
$pallette-independence: #575366ff;
$pallette-light-independence: #9a97a3ff;
$pallette-rhythm: #777da7ff;
$pallette-picotee-blue: #23278aff;
$pallette-royal-blue: #5762d5ff;
$pallette-cyan: #bccfc9;
$pallette-light-cyan: #d1e3ddff;

$mint-green-dark: #2bac6d;
$mint-green: #aaffaa;

$state-danger-text: #eb4848;

/* universal */

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

*:focus {
  outline: 0;
}

body {
  min-height: 90vh;
  font-family: "Raleway", sans-serif;
  -webkit-font-smoothing: antialiased;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;

  h1 {
    margin-bottom: 10px;
  }
}

ul {
  list-style: none;
}

dd:last-child {
  margin-bottom: 0;
}

button {
  cursor: pointer;
}

/* typography */

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

.header {
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}

label {
  color: #444;
  font-weight: bold;
}

.context_navigation {
  display: flex;
  justify-content: space-between;
}

/* misc */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

@import "./headbar.scss";
@import "./forms.scss";
@import "./footer.scss";
@import "./show.scss";
@import "./index.scss";
