<% provide(:resource_path, job_seekers_update_profile_path) %>
<% provide(:method, :patch) %>

<main class='row'>
  <div class='col-md-12'>
    <nav class='context_navigation'>
      <%= link_to t('views.navigation.go_back'), job_seekers_show_profile_path,
                  class: 'btn btn-secondary' %>
    </nav>

    <header class='header'>
      <h1><%= t('views.actions.update') %> <%= t('activerecord.models.job_seeker/profile.my_profile') %></h1>
    </header>

    <section class='contents'>
      <%= render 'form' %>
    </section>

    <div class='actions mt-4'>

    </div>
  </div>
</main>
