<% provide(:resource_path, job_seekers_profiles_path) %>
<% provide(:method, :post) %>

<main class='row'>
  <div class='col-md-12'>
    <header class='header'>
      <h1><%= t('views.profile.create') %></h1>

      <p><%= t('views.job_seekers/profiles.context') %></p>
    </header>

    <section class='contents'>
      <%= render 'form' %>
    </section>

  </div>
</main>
