<header class='main_headbar navbar navbar-light'>
  <div class='container main_headbar_container'>
    <div class="logo_container mb-2">
      <%= link_to image_tag("full_logo_title_left_cascade.svg", 
                  alt: t('views.application_name'), width: "200"), root_path, class: 'logo_svg' %>
    </div>

    <nav class='nav navbar-right'>
      <li class='nav-item'><%= link_to t('views.navigation.home'), root_path, class: 'header_nav_link' %></li>
    </nav>
  </div>
</header>
