<header class='main_headbar navbar navbar-light'>
  <%= link_to image_tag("full_logo_title_left_cascade.svg", 
                  alt: t('views.application_name'), width: "180"), root_path, 
                  class: 'logo_svg' %>

  <nav class='nav'>
    <li class='nav_item'>
      <%= link_to t('views.navigation.home'), root_path, class: 'nav_item' %>
    </li>

    <%= render 'layouts/head_hunter_nav' %>

    <%= render 'layouts/job_seeker_nav' %>

  </nav>
</header>
